
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>

    <style>
        body {
            background-image: url('../../Content/office-1209640__340.jpg');
          
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>

<body>
